.form-control {
  margin-top: 50px;
  max-width: 500px;
  input, textarea, select {
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px 0px;
    padding-left: 0px;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
  }
  textarea {
    height: 100px;
    resize: none;
  }
}
