input[type="checkbox"] {
  display: none;
}

.info .left-block {
  input[type="checkbox"] {
    display: none;
  }
  .links {
    input[type="checkbox"] {
      + label {
        padding-right: 10px;
        cursor: pointer;
        &:before {
          content: '\276F';
          float: right;
        }
        + ul {
          height: 0;
          opacity: 0;
          overflow: hidden;
        }
      }
      &:checked {
        + label:before {
          transition: transform 500ms;
          transform: rotate(90deg);
        }
        + label + ul {
          height: auto;
          opacity: 1;
          transition: all 500ms;
        }
      }
    }
  }
}

@media (max-width: 900px) {

  .info {
    display: block !important;
    .left-block {
      width: 100%;
      display: block;
      nav {
        position: relative;
        width: 100% !important;
      }
      .links {
        border: 1px solid silver;
        height: 0;
        overflow: hidden;
        z-index: 100;
        position: absolute;
        top: 50px;
        left: 5px;
        border-radius: 5px;
        background-color: #fafafa;
        opacity: 0;
        width: 100%;
        transition: all 500ms;
        //padding: 10px 20px 10px 40px;
      }
      .toggle-button {
        text-align: center;
        padding-top: 10px;
        height: 30px;
        padding-bottom: 0px;
        //font-size: 14px;
        display: block;
        cursor: pointer;
        width: 180px;
        &:after {
          content: attr(data-open);
          display: block;
        }
      }

    }

    //#menu-checkbox + nav[role="navigation"] {
    //  label {
    //    padding-right: 10px;
    //    &:before {
    //      content: '\276F';
    //      float: right;
    //    }
    //  }
    //}

    #menu-checkbox:checked + nav[role="navigation"] {
      .links {
        height: auto;
        opacity: 1;
        transition: all 500ms;
      }
      .toggle-button:after {
        content: attr(data-close);
      }
      //label:before {
      //  transition: transform 500ms;
      //  transform: rotate(90deg);
      //}
    }
  }

  .content-block {
    width: 100%;
    display: block;
  }
}